</main>

<section class="nav-footer">

</section>

<footer>
    <p>
        Home
    </p>
</footer>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="/js/swiperScript.js"></script>
<script src="/js/script.js"></script>

</body>
</html>