<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Grupo de oração católico que tem por carisma o santo terço e a vivência franciscana."
    />
    <meta name="Keyworks" content="católica, terço, são francisco, maria" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Glenio Anderson" />
    <!-- Manifesto Json -->
    <link rel="manifest" href="/manifest.json" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="application-name" content="Franciscanos Filhos de Maria" />
    <link rel="icon" sizes="16x16" href="/favicons/favicon-16x16.ico" />
    <!-- Manifesto Json -->
    <!-- /Dados para mobile app -->
    <meta name="rating" content="general" />
    <meta name="theme-color" content="#05C7F2" />
    <meta name="msapplication-TileColor" content="#05C7F2" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-title"
      content="Franciscanos Filhos de Maria - Amar é servir."
    />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <!-- /Dados para mobile app -->
    <!-- Estilos -->
    <link rel="preload" href="/css/style.css" as="style" />
    <link
      rel="preload"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
      as="style"
    />
    <link rel="preload" href="/js/script.js" as="script" />
    <link rel="preload" href="/js/swiperScript.js" as="script" />
    <link rel="prerender" href="/css/style.css" />
    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <!-- CSS local -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/img/ffm-favicon.png" type="image/x-icon" />
    <!-- Estilos -->
    <!-- Favicons -->
    <meta
      name="msapplication-TileImage"
      content="/favicons/favicon-144x144.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/favicons/favicon-512x512.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="228x228"
      href="/favicons/favicon-228x228.png"
    />
    <link
      rel="shortcut icon"
      sizes="196x196"
      href="/favicons/favicon-196x196.png"
    />
    <link rel="icon" sizes="192x192" href="/favicons/favicon-192x192.png" />
    <link rel="icon" sizes="192x192" href="/favicons/favicon-192x192.png" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/favicon-180x180.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/favicons/favicon-152x152.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="/favicons/favicon-128x128.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/favicons/favicon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/favicons/favicon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/favicons/favicon-114x114.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicons/favicon-96x96.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/favicons/favicon-76x76.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="72x72"
      href="/favicons/favicon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/favicons/favicon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/favicons/favicon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/favicons/favicon-57x57.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="/favicons/favicon-48x48.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicons/favicon-16x16.png"
    />
    <!-- /Favicons -->

    <title>Terço Mariano</title>
  </head>

  <body>
    <a href="/">
    <div class="iconHome"> 
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" style="fill: #ffffff;"><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
      </div>
    </a>
    <img class="star" src="/img/star vert.png" alt="" />
    <!-- <header> -->
    <!-- <picture>
            <source  class="thumb-header" type="image/webp" srcset="/img/webp/maria.webp">
            <img  class="thumb-header" src="/img/maria.png" alt="Imagem de Maria" width="30px" height=30px" id="thumb">
        </picture> -->
    <!-- <h1><%= tituloPage %></h1> -->

    <!-- NOVO MENU PARA ORAÇÃO INICIAL, MISTERIOS , ORAÇÕES FINAIS -->
    <!-- <div class="menuDeslizante">
        <div class="menuDeslizante--item">
          <a href="/ritosIniciais">Início</a>
        </div>
        <div class="menuDeslizante--item ativo"><a href="/">Mistérios</a></div>
        <div class="menuDeslizante--item"><a href="/ritosFinais">Fim</a></div>
      </div>
    </header> -->

    <main>
      <!-- <section class="group-button">
            <button class="button">Gloriosos</button>
            <button class="button">Dolorosos</button>
            <button class="button">Gozosos</button>
            <button class="button">Luminosos</button>
        </section> -->
    </main>
  </body>
</html>
