<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Grupo de oração católico que tem por carisma o santo terço e a vivência franciscana.">
	<meta name="Keyworks" content="católica, terço, são francisco, maria">
	<meta name="robots" content="index, follow">
	<meta name="author" content="Glenio Anderson">
    <!-- Manifesto Json -->
    <link rel="manifest" href="/manifest.json">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="application-name" content="Franciscanos Filhos de Maria">    
    <link rel="icon" sizes="16x16" href="/favicons/favicon-16x16.ico">
    <!-- Manifesto Json -->
    <!-- Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!-- CSS local -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/ffm-favicon.png" type="image/x-icon" />
    <title>Terço Mariano</title>
</head>

<body>
    <!-- <img class="star" src="/img/star vert.png" alt=""> -->
    <header>
        <h1>
            <%= tituloPage %>
        </h1>
    </header>
    
    <main>
        <!-- <section class="group-button">
            <button class="button">Gloriosos</button>
            <button class="button">Dolorosos</button>
            <button class="button">Gozosos</button>
            <button class="button">Luminosos</button>
        </section> -->