<header>
  <!-- NOVO MENU PARA ORAÇÃO INICIAL, MISTERIOS , ORAÇÕES FINAIS -->
  <div class="menuDeslizante">
    <div class="menuDeslizante--item ativo">
      <a href="/terco-mariano/ritosIniciais">Início</a>
    </div>
    <div class="menuDeslizante--item"><a href="/terco-mariano/misterios">Mistérios</a></div>
    <div class="menuDeslizante--item"><a href="/terco-mariano/ritosFinais">Fim</a></div>
  </div>
</header>
