<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!-- CSS local -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Terço Mariano</title>
</head>

<body>
    <img class="star" src="/img/star vert.png" alt="">
    <header>
        <h1>
            <%= tituloPage %>
        </h1>
    </header>
    
    <main>
        <!-- <section class="group-button">
            <button class="button">Gloriosos</button>
            <button class="button">Dolorosos</button>
            <button class="button">Gozosos</button>
            <button class="button">Luminosos</button>
        </section> -->