<!-- Swiper títulos dos mistérios-->
<section class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" data-target="wrapper-0" id="slide-0">
      Gloriosos <br /><span class="swiper-slide--days">qua - dom</span>
    </div>
    <div class="swiper-slide" data-target="wrapper-1" id="slide-1">
      Dolorosos <br /><span class="swiper-slide--days">ter - sex</span>
    </div>
    <div class="swiper-slide" data-target="wrapper-2" id="slide-2">
      Gozosos <br /><span class="swiper-slide--days">seg - sáb</span>
    </div>
    <div class="swiper-slide" data-target="wrapper-3" id="slide-3">
      Luminosos <br /><span class="swiper-slide--days">qui</span>
    </div>
  </div>
  <div class="swiper-button-next" id="next"></div>
  <div class="swiper-button-prev" id="prev"></div>
</section> 
<!-- Swiper títulos dos mistérios-->

